<div [className]="'authform'">
  <h3>Change Password</h3>
  <form #changePasswordForm="ngForm" autocomplete="off">
    <div>
      <label>Previous Password:
        <input 
          type="password" 
          class="form-control" 
          id="old-password-input"
          required
          [(ngModel)]="oldPassword" 
          name="old-password">
      </label>
    </div>
    <div>
      <label>New Password:
        <input 
          type="password" 
          class="form-control" 
          id="new-password-input"
          required
          [(ngModel)]="newPassword" 
          name="new-password">
      </label>
    </div>
    <button 
      [hidden]="!(changePasswordForm.form.valid)" 
      type="submit" 
      class="btn btn-success"
      (click)="submitChange(); changePasswordForm.reset()"
    >
      Submit
    </button>
  </form>
</div>