.article {
  white-space: pre-line;
  width: 80%;
  padding: 10px;
}

.margin {
  width: 20%;
  padding: 5px;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: row;
  align-items: center;
}