<div class="toolbar" role="banner">
  <h1>
    <a routerLink="/">
      Grande
    </a>
  </h1>
  <div class="spacer"></div>
  <div *ngIf="authService.userInfo === null">
    <a routerLink="/login">
      <span>Login</span>
    </a>
  </div>
  <div *ngIf="authService.userInfo !==null">
    <span>Welcome {{authService.userInfo.username}}</span>
    <div class="spacer"></div>
    <a (click)="logoutClick()">
      <span>Log Out</span>
    </a>
    <div class="spacer"></div>
    <a routerLink="/change">
      <span>Change Password</span>
    </a>
  </div>
</div>
<div *ngIf="authService.errorMessage !== null" class="notifier">
  <h3>
    {{authService.errorMessage}}
  </h3>
</div>
<router-outlet></router-outlet>

